################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/RND/Learn/nodejs_learn/node_modules
/WebPackLocal
/RND.v11.suo
/RND.sln
/packages
/package-lock.json
/node_modules
/JQROSBundlerMinifier
/Globalize
/ConsoleApplication1
/BundlerMinifier
/.vs
/RND/JQR_Widget_Perf
/RND/JQR_Tag1_Local
/RND/JQR_QADEVINT
/RND/JQR_QA/Condensed
/RND/JQR_Praveen
/RND/JQR_Optimized_JS
/RND/JQR_Nitish_Local_RD
/RND/JQR_Nitish_Local_JQD4171
/RND/JQR_Nitish_Local V2
/RND/JQR_Nitish_Local
/RND/JQR_Nikita2_Local
/RND/JQR_Nikita
/RND/JQR_newjqradmin_jqrwidget
/RND/JQR_MultiGeo
/RND/JQR_DEV21_DEV
/RND/JQR_Dev21
/RND/JQR_Dev
/RND/JQR_CondensedView_JS
/RND/JQR_5276_JS
/RND/JQR_4361_Multilingual
/RND/JQD-3370
/RND/Dummy
/RND/CODE SNIPPET
/RND/bin/Debug
/RND/Learn/zslib
/RND/Learn/supplemental
/RND/Learn/node_modules
/RND/Learn/globalize.js
/RND/Learn/globalize
/RND/Learn/file%3a/C%3a/Users/nr19044/Documents/nraina/Projects/Test/RND/RND/Learn
/RND/Learn/cldr.js
/RND/Learn/cldr
/RND/Learn/bignumber.js
/RND/Learn/terser.js
/RND/Learn/package-lock.json
/RND/Learn/learn_locale1.html
/RND/StuffCSS.css
/RND/Stuff.js
/RND/Scripts
/RND/RND.csproj.user
/RND/RND.csproj
/RND/Research
/RND/Properties
/RND/Program.cs
/RND/packages.config
/RND/obj
/RND/HTMLPage2.html
/RND/Copy of Stuff.js
/RND/App.config
RND/Learn/nodejs_learn/myfirst.js
/RND/grunt-tasks/src
/RND/grunt-tasks/node_modules
/RND/grunt-tasks/dist
/RND/Learn/src
/RND/Learn/dist
/RND/Learn/dist-staging
/RND/grunt-tasks/dist-staging
/RND/Learn/task-runner.bat
/RND/Learn/package.json
/RND/Learn/gruntfile.js
